<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talleres Municipales-Puente Alto</title>
    <!-- css bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/css/Tarjetas.css'%}">

    <!-- NAV -->
    <div class="container-fluid " style="background-color: #cdd1c683">
        {% block content %}
        {% include 'Navbar.html'%}
        {% endblock %}
    </div>

    <!-- NAV FIN -->
</head>

<body>
    
    <div class="container-fluid" style="background-color: #cdd1c683">
        <!-- CARRUSEL   PROMOCIONES -->
        <div class="container-md">
            <div id="carouselExampleDark" class="carousel carousel-light slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="{%static 'core/img/1_Index.jpg'%}" class="d-block w-100" alt="..." width="..."
                            height="450">
                        <div class="carousel-caption d-none d-md-block">

                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{%static 'core/img/2_Index.jpg'%}" class="d-block w-100" alt="..." height="450">
                        <div class="carousel-caption d-none d-md-block">

                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{%static 'core/img/3_Index.jpg'%}" class="d-block w-100" alt="..." height="450">
                        <div class="carousel-caption d-none d-md-block">

                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- CARRUSEL   PROMOCIONES FIN -->
        <!-- ----------------------- -->
        <!-- TARJETAS -->
        <br>
        <div class=" rounded container-md"
            style="font-family: 'Poppins', sans-serif; background: linear-gradient(to right,  #edb691, #eb991e, #edb691);">
            <div class="container-md rounded">
                <p class="text-md-center text-black fs-4">Los talleres más destacados por la comunidad</p>
            </div>
        </div>

        <div class="container-md">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <a href="" class="a" data-bs-toggle="modal" data-bs-target="#modal1">
                        <div class="cardt" style="--i:url({% static 'core/img/adulto-mayor-3.jpeg'%})">
                            <div class="contentt mx-auto">
                                <p class="text-md-center text-light fs-2">Taller de Yoga</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="" class="a" data-bs-toggle="modal" data-bs-target="#modal2">
                        <div class="cardt" style="--i:url({% static 'core/img/TallerCocina.jpg'%})">
                            <div class="contentt" ; class="d-flex justify-content-center">
                                <p class="text-md-center text-light fs-2">Taller de Cocina</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="" class="a" data-bs-toggle="modal" data-bs-target="#modal3">
                        <div class="cardt" style="--i:url({% static 'core/img/TallerPintura.jpg'%})">
                            <div class="contentt">
                                <p class="text-md-center text-light fs-2">Taller de Pintura</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="" class="a" data-bs-toggle="modal" data-bs-target="#modal4">
                        <div class="cardt" style="--i:url({% static 'core/img/TallerLectura.jpg'%})">
                            <div class="contentt">
                                <p class="text-md-center text-light fs-2">Taller de Lectura</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- TARJETAS FIN -->
    <!-- ----------------------- -->
    <!-- Footer -->
    {% include 'Footer.html'%}
    <!-- Footer FIN-->
    <!-- ----------------------- -->
    <!-- MODAL-->
    <div tabindex="-1" aria-labelledby="modal1" aria-hidden="true" class="modal fade" id="modal1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="card mb-3">
                <img src="{% static 'core/img/adulto-mayor-3.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-md-center">Taller de Yoga</h5>
                    <p class="card-text">El yoga es una práctica que conecta el cuerpo, la respiración y la mente. Esta
                        práctica utiliza posturas físicas, ejercicios de respiración y meditación para mejorar la salud
                        general. El yoga se desarrolló como una práctica espiritual hace miles de años.</p>
                    <p class="card-text"><small class="text-muted">Instructor Juanito Pérez</small></p>
                </div>
            </div>
        </div>
    </div>
    <div tabindex="-1" aria-labelledby="modal1" aria-hidden="true" class="modal fade" id="modal2">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="card mb-3">
                <img src="{% static 'core/img/TallerCocina.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-md-center">Taller de Cocina</h5>
                    <p class="card-text">Estudiar Gastronomía se trata del descubrimiento, la investigación y la
                        comprensión de la elaboración de la comida y todo lo que implica la alimentación. Incluso se
                        aprende la relación entre la cultura y la nutrición. El principio de la Gastronomía es que la
                        comida es una ciencia, además de una forma de arte.</p>
                    <p class="card-text"><small class="text-muted">Instructor Camila Pérez</small></p>
                </div>
            </div>
        </div>
    </div>
    <div tabindex="-1" aria-labelledby="modal1" aria-hidden="true" class="modal fade" id="modal3">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="card mb-3">
                <img src="{% static 'core/img/TallerPintura.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-md-center">Taller de Pintura</h5>
                    <p class="card-text">Dibujar y pintar no solo reduce el estrés sino que también ayuda a
                        sobrellevarlo mejor. Un estudio realizado en Alemania destacó que dibujar y pintar modifica el
                        cerebro de manera tal que promueve la “resiliencia psicológica” en la edad adulta. Esto es, la
                        capacidad de adaptarse y de resistir el estrés.</p>
                    <p class="card-text"><small class="text-muted">Instructor Diego Pérez</small></p>
                </div>
            </div>
        </div>
    </div>
    <div tabindex="-1" aria-labelledby="modal1" aria-hidden="true" class="modal fade" id="modal4">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="card mb-3">
                <img src="{% static 'core/img/TallerLectura.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-md-center">Taller de Lectura</h5>
                    <p class="card-text">Cuanto más lees, más información procesa tu mente, por lo que será más ágil y
                        capaz de retener conocimientos. Las personas exitosas ejercitan su mente diariamente mediante la
                        lectura y otros recursos como la realización de crucigramas y juegos de ingenio.</p>
                    <p class="card-text"><small class="text-muted">Instructor Yerko Pérez</small></p>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL FIN-->

    <!-- JS BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
</body>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


{% if messages %}
{% for m in messages %}
<script>
    Swal.fire({
        "title": "Felicitaciones",
        "text": "{{m}}",
        "icon": "success"
    })

</script>
{% endfor %}
{% endif %}



</html>