
	<footer>
		<div class="container-fluid  text-black p-3 rounded-top ml-10 mr-10"
		style="font-family: 'Poppins', sans-serif;background: linear-gradient(to right,  #91a0ed, #1ec6eb, #91a0ed)">
			<div class="row justify-content-around text-center text-md-start">
				<div class="col-md-2 text-center">
					<p class="fs-3 fw-bold">Talleres</p>
					<hr>
					<p class="fs-5 fw-bold">Municipalidad de Puente Alto</p>
				</div>
				<div class="col-md-2">
					<ul class="list-unstyled">
						<li class="fw-bold my-2"><h4>Sobre el equipo</h4></li>
						<li> <a href="#" class="text-decoration-none text-black"><h4>Proyecto</h4></a> </li>
						<li> <a href="#" class="text-decoration-none text-black"><h4>Talleres</h4></a> </li>
					</ul>
				</div>
				<div class="col-md-2">
					<ul class="list-unstyled">
						<li class="fw-bold my-2"><h4>Mesa de ayuda</h4></li>
						<li class="mb-2"> <a href="#" class="text-decoration-none text-black mb-2"><h4>Contacto</h4></a> </li>
						<li> <a href="#" class="text-decoration-none text-black"><h4>Soporte </h4></a> </li>
					</ul>
				</div>
				<div class="col-md-2">
					<li class="fw-bold my-2 list-unstyled"><h4>Siguenos en redes sociales</h4></li>
					<ul 
					class="list-unstyled d-flex justify-content-center justify-content-md-start">
						<li><a href="#" 
							class="text-black"><i 
							class="fa-brands fa-facebook me-2 fa-1x"></i></a></li>
						<li><a href="#" class="text-black"><i class="fa-brands fa-whatsapp mx-2 fa-1x"></i></a></li>
						<li><a href="#" class="text-black"><i class="fa-brands fa-youtube mx-2 fa-1x"></i></a></li>
						<li><a href="#" class="text-black"><i class="fa-brands fa-instagram mx-2 fa-1x"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>