<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
		integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="{% static 'core/css/Footer.css'%}">


</head>

<body>
	<footer>
		<div class="container-fluid  text-black p-3 rounded-top ml-10 mr-10"
		style="font-family: 'Poppins', sans-serif; background: linear-gradient(to right,  #edb691, #eb991e, #edb691)">
			<div class="row justify-content-around text-center text-md-start">
				<div class="col-md-2 text-center">
					<p class="fs-3 fw-bold">Talleres</p>
					<hr>
					<p class="fs-5 fw-bold">Municipalidad de Puente Alto</p>
				</div>
				<div class="col-md-2">
					<ul class="list-unstyled">
						<li class="fw-bold my-2"><h4>Sobre el equipo</h4></li>
						<li> <a href="#" class="text-decoration-none text-black"><h4>Proyecto</h4></a> </li>
						<li> <a href="#" class="text-decoration-none text-black"><h4>Talleres</h4></a> </li>
					</ul>
				</div>
				<div class="col-md-2">
					<ul class="list-unstyled">
						<li class="fw-bold my-2"><h4>Mesa de ayuda</h4></li>
						<li class="mb-2"> <a href="#" class="text-decoration-none text-black mb-2"><h4>Contacto</h4></a> </li>
						<li> <a href="#" class="text-decoration-none text-black"><h4>Soporte </h4></a> </li>
					</ul>
				</div>
				<div class="col-md-2">
					<li class="fw-bold my-2 list-unstyled"><h4>Siguenos en redes sociales</h4></li>
					<ul 
					class="list-unstyled d-flex justify-content-center justify-content-md-start">
						<li><a href="#" 
							class="text-black"><i 
							class="fa-brands fa-facebook me-2 fa-1x"></i></a></li>
						<li><a href="#" class="text-black"><i class="fa-brands fa-whatsapp mx-2 fa-1x"></i></a></li>
						<li><a href="#" class="text-black"><i class="fa-brands fa-youtube mx-2 fa-1x"></i></a></li>
						<li><a href="#" class="text-black"><i class="fa-brands fa-instagram mx-2 fa-1x"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>